.about
{font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    gap:0.2rem;
    margin-top:-6px;
    background-color:blue;
    padding-bottom: 6rem;

}

.heading
{
    font-size:3.5rem;
    margin-bottom:-8px;
    text-align:center;
}
span 
{
    color:aquamarine;
}

.profile
{
   
    width:20rem;
    height:20rem;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:-6px;
}

.profile img{
   
    width: 50%;
    border-radius:50%;
    border:.5rem solid rgb(25, 81, 155);
}

.Content
{
    text-align:center;
    
}

.Content h3
{ margin-top:-10px;
    font-size:2rem;
}

.Content p
{
    font-size:18px;
    padding-left:80px;
    padding-right:80px;
   
   
}

.view a

    {margin-top:12px;
      background-color:  #1a819e;
      justify-content:center;
      color:white;
      padding: 10px 20px;
      padding-top: 20px;
      padding-bottom:20px;
      text-align: center;
     
      display: inline-block;
      font-size: 20px;
      border-radius: 12px; /* Rounded corners */
      cursor: pointer;
      transition:  0.3s; /* Smooth transition for hover effect */
      text-decoration: none;
    
}