
    

#about {
    padding: 50px;
    color:white; 
   
}


.me {font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
    padding-left:60px;
  max-width: 40%; /* Limit content width to half of the page */


  margin:  7px; /* Center content horizontally */
  text-align: justify;
 
   

}





.title {
  text-align: center; /* Center align title */
  margin-bottom:50px;
}

.content {
    

  margin-right: 0; /* Remove right margin to ensure full width */
}


    



.title{

  flex-direction: column; 
}




.view {
  position: relative;
  display: inline-block;
  padding-left: 20px; /* Adjust as needed */
  border-radius: 4px;
  margin-left:60px;
  margin-top: 38px;
}

.view a {
  text-decoration: none;
  color:black;
  
  
  font-size: 20px;
  text-align: center;


}



